* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #110e0e;
    cursor: none;
}

.cursor-dot {
    width: 80px;
    height: 80px;
    /* background-color: #fff */
    z-index: 1;
}

.cursor-outline {
    width: 50px;
    height: 50px;
    border: 2px solid hsl(49, 100%, 50%);
}

.cursor-dot,
.cursor-outline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
}